@font-face {
	font-family: Playfair Display;
	src: local("Playfair Display Regular"), local("PlayfairDisplay-Regular"), url(https://fonts.gstatic.com/s/playfairdisplay/v13/nuFiD-vYSZviVYUb_rj3ij__anPXDTzYhg.woff) format("woff");
	font-weight: 400;
	font-style: normal;
}
